@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300;800&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&family=Montserrat:wght@500&family=Prompt:wght@500&display=swap");

body {
  background-color: #1971c2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: Poppins, sans-serif;
}

.header {
  background-color: #0f4d8b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23757193' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  box-shadow: 0 10px 20px 0 #0b376438;
  padding: 15px 0;
}

.header a {
  color: #fff;
}

.header a.active {
  color: #74b816 !important;
  font-weight: 500;
}

.main-login {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.main-inner {
  padding: 70px 50px;
  background-color: #fbfbfb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c6c4c8' fill-opacity='0.19' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border-radius: 15px;
  margin-top: 60px;
  margin-bottom: 90px;
  min-height: 80vh;
  box-shadow: 0 5px 10px 0 #155da194;
}

.btn-main {
  font-family: "Montserrat";
  font-weight: bol;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
  border: none;
  font-size: 14px;
}

.btn-login {
  font-size: 16px;
}

.btn-main.btn-green {
  background-color: #74b816;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-main.btn-yellow {
  background-color: #fcc419;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-main.btn-red {
  background-color: #d9480f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-main:hover {
  background: #104577;
  color: #fff;
}

.registration-form input,
.login-form input,
.inner-form label {
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  padding: 0.7em 2em;
  font-size: 15px;
}

.registration-form input,
.login-form input,
.inner-form input {
  background: #1970c21c;
}

form.login-form,
form.inner-form {
  padding: 40px;
  background-color: #fbfbfb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c6c4c8' fill-opacity='0.19' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border-radius: 15px;
  border: solid 3px #fff;
  box-shadow: 0 5px 10px 0 #155da194;
}

.registration-form {
  margin-top: 50px;
}

.inner-form {
  margin-top: 100px;
}

.logo-img {
  width: 100px;
  margin-bottom: 2px;
}

.header-logo {
  width: 120px;
}

.bank-name {
  color: #74b816;
  text-align: right;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 40px;
}

.main-title {
  color: #104577;
  margin-bottom: 50px;
  font-family: "Kodchasan";
  text-align: center;
}

.logout-btn {
  background: none;
  color: white;
  border: none;
  padding: 0;
  margin-left: 8px;
}

.account-info-box:first-child {
  border-top: solid 1px rgba(102, 102, 102, 0.116);
}

.account-info-box {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
  border-bottom: solid 1px rgba(102, 102, 102, 0.116);
  padding: 28px;
}
